p,
h1,
h2,
h3,
h4,
h5,
ul {
	margin: 0;
	padding: 0;
}

.mui-bar .mui-icon:active {
	opacity: 1;
}

body {
	background: #f5f5f5;
}

.mui-bar-nav {
	background: #FFFFFF;
	box-shadow: none;
	border-bottom: 1px solid #eaeaea;
	box-sizing: border-box;
}

.mui-bar-nav a {
	color: #e14c46;
}
.mui-title{
	font-size: 14px;
}
.mui-content{
	width: 100%;
	background: #F5F5F5;
	float: left;
}
.nav{
	height: 1.85rem;
	background: #fff;
	width: 100%;
	display: flex;
	display: -webkit-flex;
}
.nav ul{
	display: flex;
	display: -webkit-flex;
	width:100%;
}
.nav ul li{
	flex: 1;
	text-align: center;
	list-style: none;
	line-height: 1.85rem;
}
.nav ul li a{
	flex: 1;
	font-size: 0.6rem;
	padding: 0.5rem 0.25rem;
	color: #4c4c4c;
}
.nav a{
	text-align: center;
	line-height: 1.85rem;
	display: inline-block;
	flex: 1;
	font-size: 0.6rem;
	color: #4c4c4c;
	margin: 0 1.9rem;
}
.nav .active{
	border-bottom: 2px solid #e63120;
	color: #e63120;
}
/* 服务 */
.services{
	width: 100%;
	display: none;
	float: left;
}
/* 没有关注 */
.no-attention{
	width: 100%;
	text-align: center;
}
.no-attention img{
	width: 3.15rem;
	height: 3.15rem;
	object-fit: cover;
	margin-top: 10.95rem;
}
.no-attention p{
	margin-top:0.95rem;
	font-size: 0.6rem;
}
/* 关注了的 */
.attention{
	float: left;
}
.attention ul{
	float: left;
}
.attention ul li{
	float: left;
	width: 7.7rem;
	height: auto;
	border-radius: 4px;
	background: #fff;
	margin: 0.25rem 0 0 0.25rem;
	position: relative;
}
.attention ul li>img{
	float: left;
	height: 7.7rem;
	width: 7.7rem;
	border-radius: 4px 4px 0 0;
}
.attention ul li>p{
	width: 100%;
	float: left;
	height: 1.5rem;
	line-height: 1.5rem;
	font-size: 0.55rem;
	padding:0 5px;
}
.attention ul li>p>span{
	float: right;
}
.attention ul li>span{
	position: absolute;
	top: 3px;
	right: 2px;
	width: 0.95rem;
	height: 0.95rem;
	background: #fff;
	text-align: center;
	line-height: 0.95rem;
	border-radius: 100%;
	color: #fe5b58;
	font-size: 0.6rem;
	font-weight: bold;
}
/* 技师 */
.technician{
	width: 100%;
	display: none;
	float: left;
}
.technician>.no-attention>p{
	margin: 0;
}
/* 店铺 */
.store{
	width: 100%;
	display: none;
	float: left;
}
.store .no-attention img{
	width: 3.3rem;
}
.mui-content .active{
	display: block;
}

/* 消息框 */
.mui-popover{
	top:50%;
	height: 5.15rem;
	width: 12.05rem;
	margin: 0 2rem;
	background: #fff;
}
.mui-popover p{
	height: 3rem;
	width: 100%;
	line-height: 3rem;
	text-align: center;
	font-size: 0.7rem;
	color: #000000;
	border-bottom: 1px solid #e5e5e5;
}
.mui-popover p .btn{
	height: 2rem;
	width: 100%;
}
.mui-popover .btn>button{
	height: 2.1rem;
	width: 5.9rem;
	border: none;
	font-size: 0.65rem;
	color: #2d84f0;
	border-radius: 0 0 0 7px;
}
.mui-popover .btn>button:nth-of-type(1){
	border-right: 1px solid #e5e5e5;
}
.mui-popover .btn>button:nth-of-type(2){
	border-radius: 0 0 7px 0;
}
.mui-popover .btn>button:active{
	background: #fff;
}