@charset "utf-8";
.mui-indexed-list-bar {
    width: 0.85rem;
    background-color: #fff;
    position: absolute;
    height: 100%;
    z-index: 10;
    right: 0px;
	top: 34px;
    -webkit-transition: .2s;
}
.mui-indexed-list-bar a {
    display: block;
    text-align: center;
    font-size: 0.5rem;
	font-weight: 600;
    padding: 0px;
    margin: 0px;
	height: 0.95rem !important;
    color: #2f2f2f;
}